name: Build and Tree

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches: [main]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install Rust
        run: rustup update stable
      - name: Prepare Environment
        run: |
          rustup target add x86_64-apple-darwin aarch64-apple-darwin aarch64-apple-ios x86_64-apple-ios aarch64-apple-ios-sim
          cargo install swift-bridge-cli
      - name: Set Permissions
        run: chmod +x build-release.sh package-release.sh
      - name: Build Release
        run: ./build-release.sh
      - name: List Release
        run: find target -name "*.a" -exec ls -lh {} \;
      - name: Package Release
        run: ./package-release.sh
      - name: List Package
        run: ls -lh CCZUNISwiftBridge
      - name: Archive Package
        uses: actions/upload-artifact@v4
        with:
          name: CCZUNISwiftBridge
          path: CCZUNISwiftBridge
